= react_component('EnrollmentForm',
                  items: ['Basics','Contacts', 'Questionnaire','Allergies', 'Medications', 'Extra'],
                  questions: ['Are you awesome?', 'Is your child awesome?', 'How many 2+2?'])