.container
  %h1 Conversations
  /%ul.nav.nav-tabs#myTabs
  /  %li{role: "presentation", class: "active"}
  /    %a{href: "#inbox", "aria-controls" => "inbox", role: "tab", "data-toggle" => "tab"}
  /      Inbox
  /  %li{role: "presentation"}
  /    %a{href: "#sentbox", "aria-controls" => "sentbox", role: "tab", "data-toggle" => "tab"}
  /      Sentbox
  /  %li{role: "presentation"}
  /    %a{href: "#trash", "aria-controls" => "trash", role: "tab", "data-toggle" => "tab"}
  /      Trash
  .row
    .col-md-3
      .panel.panel-default
        .panel-body
          %ul.nav.nav-stacked#myTabs
            %li{role: "presentation", class: "active"}
              %a{href: "#inbox", "aria-controls" => "inbox", role: "tab", "data-toggle" => "tab"}
                Inbox
            %li{role: "presentation"}
              %a{href: "#sentbox", "aria-controls" => "sentbox", role: "tab", "data-toggle" => "tab"}
                Sentbox
            %li{role: "presentation"}
              %a{href: "#trash", "aria-controls" => "trash", role: "tab", "data-toggle" => "tab"}
                Trash

    .col-md-9
      .tab-content
        %div{role: "tabpanel", class: "tab-pane active", id: "inbox"}
          %table.table.table-filter
            = render collection: mailbox.inbox, partial: 'conversation'
        %div{role: "tabpanel", class: "tab-pane fade", id: "sentbox"}
          %table.table.table-filter
            = render collection: mailbox.sentbox, partial: 'conversation'
        %div{role: "tabpanel", class: "tab-pane fade", id: "trash"}
          %table.table.table-filter
            = render collection: mailbox.trash, partial: 'conversation'

  %button{ type: "button", class: "btn btn-primary", 'data-toggle' => "modal",  'data-target' => "#myModal"}
    Compose

#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = render 'form'