= form_for @school_group do |f|
  .form-group
    = f.text_field :name, class: 'form-control', required: true, style: 'width: 40%', placeholder: 'Enter name'
  .form-group
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), school_groups_path, :class => 'btn btn-default'