default: &default
  adapter: mysql2
  encoding: utf8
  username: *username*
  password: *your_pass*
  host: mysql://127.0.0.1:3306
  pool: 5

development:
  <<: *default
  database: school_docs_development

test:
  <<: *default
  database: school_docs_test

production:
  <<: *default
  database: school_docs_production
  username: school_docs
  password: <%= ENV['SCHOOL-DOCS_DATABASE_PASSWORD'] %>
