- breadcrumb :school, @school
.col-md-12
  %h2
    = @school.name

  .row
    .col-md-4
      %div.completed-enrollments
        .chart#graph{"data-percent" => "88"}
        %div.caption
          %h4 Completed enrollments
    .col-md-8
      %h4 Medications
      .progress
        .progress-bar{'style' => 'width: 70%;'}
      %hr
      %h4 Allergies
      .progress
        .progress-bar{'style' => 'width: 70%;'}
      %hr
      %h4 Restrictions
      .progress
        .progress-bar{'style' => 'width: 70%;'}
      %hr
    /.col-md-8
    /  .progress
    /    .progress-bar{:role => 'progressbar',  'aria-valuenow' => '60', 'aria-valuemin' => '0', 'aria-valuemax' => '100', 'style' => 'width: 60%;'}
    /      %span.sr-only 60% Complete
    /    %span.progress-type HTML / HTML5
    /    %span.progress-completed 60%

    /  .progress
    /    .progress-bar{:role => 'progressbar',  'aria-valuenow' => '60', 'aria-valuemin' => '0', 'aria-valuemax' => '100', 'style' => 'width: 60%;'}
    /      %span.sr-only 60% Complete
    /    %span.progress-type HTML / HTML5
    /    %span.progress-completed 60%

    /  .progress
    /    .progress-bar{:role => 'progressbar',  'aria-valuenow' => '60', 'aria-valuemin' => '0', 'aria-valuemax' => '100', 'style' => 'width: 60%;'}
    /      %span.sr-only 60% Complete
    /    %span.progress-type HTML / HTML5
    /    %span.progress-completed 60%
  .col-md-8
    %h2 Grades and activities
    - if !@school.grades.blank?
      .list-group
        - @school.grades each do |gr|
          .list-group-item
            .list-group-item-heading
              %h4
                = gr.name
            .list-group-item-text
              sjkdfhjf
    - else
      %br
        .alert.alert-warning
          There is no grades or activities yet but you may create one!
  .col.col-lg-7
    = link_to 'Edit', edit_school_path(@school, school_group_id: @school.school_group_id), class: 'btn btn-primary'
    = link_to 'Back', school_groups_path