%li
  = link_to root_path do
    %i.fa.fa-fw.fa-envelope
    Messages
%li
  = link_to root_path do
    %i.fa.fa-fw.fa-child
    My childrens
%li
  = link_to root_path do
    %i.fa.fa-fw.fa-newspaper-o
    My enrollments

